body {
    color: #FFFFFF;
    text-align: center;
    margin: 0;
    align-items: center;

}

/* HEADER SECTION */

header {
    background-image: url(./images/headphones_hero_1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}

.headerdiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
    margin: 0 10%;
    /* max-width: 1000.39px; */
    height: 32px;
}

p {
    line-height: 26px;
}

@media  (max-width: 768px) {
    .headerdiv {
        margin: 0 5%;
    }
    li {
        padding: 5px;
    }
    
}

.headponesspan {
    display: flex;
    flex-wrap: wrap;
    max-width: 161px;
    height: 32px;
}

a{
    color: #FFFFFF;
    text-decoration: none;
}

.ulspan {
    /* width: 255px; */
    height: 15px;
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

li {
    list-style: none;
    padding: 10px;
}

a:hover {
    color: #FF6565;
}

.headermain {
    margin-top: 300px;
}

.loremp {
    margin-top: 0;
    font-weight: bold;
}

.loremh1 {
    margin-bottom: 0;
}



.callforaction {
    border-radius: 50px;
    width: 162px;
    height: 44px;
    background-color: #FF6565;
    color: white;
    outline: none;
    border-color: transparent; 
}


button:hover {
    opacity: 0.9
}

.loremnote {
    margin-top: 70px;
    margin-bottom: 50px;
}


/* what we do section */

.whatwedo {
    background-color: #FFFFFF;
    color: #000;
}

.loremwhatwedo {
    margin-top: 200px
}

.imgdiv {
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; */

    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 images in one row by default */
    gap: 10px;
    margin-top: 100px;
    margin-bottom: 50px;
}


@media screen and (max-width: 768px) {
    .imgdiv {
        grid-template-columns: repeat(2, 1fr); /* Switch to 2x2 layout */
      }
}

/* Our results section */

.ourresults {
    background-image: url(./images/headphones_hero_2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* max-width: 1400px; */
    height: auto;
 
}

.results {
    padding-top: 200px;
}

.shape {
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; */

    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 images in one row by default */
    
}


@media screen and (max-width: 768px) {
    .shape {
        grid-template-columns: repeat(2, 1fr); /* Switch to 2x2 layout */
      }
}

.shapes {
    width: auto;
    height: 190px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.shapes{
    text-align: center;
    background-image: url(./images/pentagone.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    
    
}

.shapes >h1 {
    font-size: 46px;
    padding-top: 15px;
    margin-bottom: 0;
}